.site-container {
    max-width: 380px;
    max-height: 829px;
}

.navbar {
    --bs-navbar-color: transparent;
    --bs-navbar-hover-color: transparent;
    --bs-navbar-disabled-color: transparent;
    --bs-navbar-active-color: transparent;
    --bs-navbar-toggler-border-color: transparent;
}
.navbar-brand {
    display: block;
    margin-left: 20px; 
    margin-right: 20px;
}

#buttons-container {
    margin-top: 95px;
}
#cards-container.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.offcanvas.offcanvas-end {
    width:70%;
}